/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}

/* ==========================================================================
Our crap
========================================================================== */
.logo-row {
	background-image: url("/content/themes/geeksgonedad-roots/assets/img/rowbg.png");
	background-repeat: repeat;
	margin-bottom: 25px;
	
}

.widget-inner {
	margin: 5px;
}

.front-page {
	margin-top: 24px;
	
}

.introtitle {
	font-size: 30px;
}

.frontpage-headers {
	font-size: 24px;
	
}

#content-info {
	margin-top:45px;
	padding: 35px 0 36px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:#e5e5e5;
	
}

#menu-footer-navigation {
	list-style: none;
	margin-left: 0;
}

.bottomnav {
	padding-bottom: 10px;
}

.widget_twitter div {
    padding:0;
}

.widget_twitter ul {
	margin-left:0px;
	margin-bottom: 5px;
}

.widget_twitter li {
    margin-bottom:5px;
    list-style: none;
    margin-left:0px;
}

.widget_twitter .follow-button,
.widget_twitter .xavisys-link {
    margin:0 10px 10px 25px;
}

.widget_twitter .entry-meta {
    display:block;
    font-size:80%;
}

.widget_twitter .intent-meta a {
    background: url(/content/themes/geeksgonedad-roots/assets/img/everything-spritev2.png); /** from Twitter ressources */
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.widget_twitter .intent-meta a.in-reply-to {
    background-position: 0 center;
}
.widget_twitter .intent-meta a:hover.in-reply-to {
    background-position: -16px center;
}
.widget_twitter .intent-meta a.favorite {
    background-position: -32px center;
}
.widget_twitter .intent-meta a:hover.favorite {
    background-position: -48px center;
}
.widget_twitter .intent-meta a.retweet {
    background-position: -80px center;
}
.widget_twitter .intent-meta a:hover.retweet {
    background-position: -96px center;
}

/* 
Sidebar
*/

.widget-sidebar ul {
	list-style: none;
	margin-left: 0;
	
}