/* ==========================================================================
Contributor Page
========================================================================== */

.author-row {
	background-color:@navbarBackground;
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	
}

.author-box img {
 	display: block;
 	vertical-align: top;
 	float: none;
 	margin-left: auto;
    margin-right: auto; 
    padding-top: 2px;
    padding-bottom: 2px;
    
    }